.card {
	background: var(--surface-card);
	border: 1px solid var(--surface-border);
	padding: 1.3rem;
	margin-bottom: 2rem;
	box-shadow: var(--card-shadow);
	border-radius: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	::ng-deep {
		.header {
			h1, h2, h3, h4, h5, h6 {
				margin: 0px !important;
			}
		}
	}
}
