<p-dialog
	#dialog
	[header]="title"
	[(visible)]="visible"
	[modal]="true"
	[closable]="options?.closable ?? true"
	[maximizable]="options?.maximizable ?? false"
	[style]="{ width: options?.width ?? '50vw' }"
	(onHide)="cancel()"
	(onShow)="showDialog()">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">{{ title }}</span>
	</ng-template>
	<div class="pt-2">
		<ng-content></ng-content>
		@if (formGroup) {
			<div>
				<wig-form #helloForm [formGroup]="formGroup" (onSubmit)="submit($event)" />
			</div>
		}
	</div>
	<ng-template pTemplate="footer">
		@if (hideFooter) {
			<ng-content select="[footer]"></ng-content>
		} @else {
			@if (options?.closable ?? true) {
				<wig-button [label]="'Cancel'" [text]="true" (click)="cancel()" />
			}
			@if (!formGroup) {
				<wig-button [label]="'Ok'" [loading]="showLoader" (click)="ok()" />
			} @else {
				<wig-button (click)="helloForm.submit()" [label]="'Ok'" [loading]="showLoader" />
			}
		}
	</ng-template>
</p-dialog>
