:host ::ng-deep {
	.card-table {
		table {
			tr {
				th:first-child {
					padding-left: 0 !important;
				};
				td:first-child {
					padding-left: 0 !important;
				};
			}
		}
		.p-datatable-footer {
			padding-left: 0 !important;
		}
	}
}
