<p-fileUpload
	#fileUpload
	[name]="name"
	[disabled]="disabled"
	[multiple]="multiple"
	[accept]="accept"
	[maxFileSize]="maxFileSize"
	(onSelect)="writeValue($event.currentFiles)"
>
	<ng-template pTemplate="header"></ng-template>
	<ng-template
		pTemplate="content"
		let-files
		let-chooseCallback="chooseCallback"
		let-clearCallback="clearCallback"
		let-removeFileCallback="removeFileCallback"
	>
		@if (files?.length > 0) {
		<div class="flex flex-wrap justify-content-end w-full p-5">
			@for (file of files; track file) {
			<div class="flex w-full card align-items-center">
				<span class="font-semibold mr-1">{{ file.name }}</span>
				<wig-button
					icon="pi pi-trash"
					[text]="true"
					(click)="onRemoveFile($event, file)"
				/>
			</div>
			}
		</div>
		@if (multiple) {
		<div
			class="flex align-items-center justify-content-center p-5 w-full cursor-pointer"
			(click)="fileUpload.choose()"
		>
			<i class="pi pi-cloud-upload"></i>
			<p class="ml-2">
				Drag & drop file or click to
				<span class="underline">select file</span>
			</p>
		</div>
		} }
	</ng-template>
	<ng-template pTemplate="file"></ng-template>
	<ng-template pTemplate="empty">
		<div
			class="flex align-items-center justify-content-center p-5 w-full cursor-pointer"
			(click)="fileUpload.choose()"
		>
			<i class="pi pi-cloud-upload"></i>
			<p class="ml-2">
				Drag & drop file or click to
				<span class="underline">select file</span>
			</p>
		</div>
	</ng-template>
</p-fileUpload>
