<wig-modal [visible]="modalVisible" [title]="'Select Project'" [options]="modalOptions">
	@if (projectPath) {
		<div>Project "{{ projectName }}" selected!</div>
		<small>Project Path: {{ projectPath }}</small>
	} @else {
		<div>Please choose a project!</div>
	}
	<wig-button [label]="'Select'" styleClass="w-full mt-1" (click)="selectProject()"></wig-button>
	<div footer>
		<wig-button [disabled]="!projectPath" [label]="'Check'" styleClass="w-full mt-1" (click)="checkProject()"></wig-button>
	</div>
</wig-modal>
