::ng-deep {
	.p-sidebar {

		background-color: var(--surface-ground);

		.p-sidebar-header {
			display: flex;

			h4 {
				margin: 0px !important;
				font-weight: normal !important;
			}
		}
	}

	.p-sidebar-right {
		height: 100% !important;
		border-top-left-radius: 10px !important;
		border-bottom-left-radius: 10px !important;

		&.w-40rem {
			width: 40rem !important;
		}

		&.w-60rem {
			width: 60rem !important;
		}

		&.w-80rem {
			width: 80rem !important;
		}
	}
}
