<form class="h-full" [formGroup]="formGroup" (ngSubmit)="submitForm()">
	<div class="grid h-full">
		<ng-template
			ngFor
			let-ig="index"
			let-cg="count"
			let-group
			[ngForOf]="layoutGroups"
		>
			<div [ngClass]="group.cssClass">
				@if (group.title) {
				<p-divider class="mb-4" align="left">
					<div class="inline-flex align-items-center">
						<i [class]="group.icon + ' mr-2'"></i>
						<b>{{ group.title }}</b>
					</div>
				</p-divider>
				}

				<ng-template
					ngFor
					let-i="index"
					let-c="count"
					let-control
					[ngForOf]="group.controls"
				>
					@if (control.control.config.groupLabel) {
					<p-divider class="mb-4" align="left">
						<div class="inline-flex align-items-center">
							<i
								[class]="
									control.control.config.groupIcon + ' mr-2'
								"
							></i>
							<b>{{ control.control.config.groupLabel }}</b>
						</div>
					</p-divider>
					} @if (isControlVisible(control.control)) {
					<div>
						<div
							[ngSwitch]="control.control.config.type"
							[ngClass]="i !== c - 1 ? 'mb-3' : ''"
						>
							<ng-template [ngSwitchCase]="'input'">
								<span class="p-float-label">
									<input
										pInputText
										class="w-full p-inputtext-sm"
										[id]="control.key"
										[formControlName]="control.key"
										[required]="
											hasValidator(
												control.key,
												control.control,
												Validators.required
											)
										"
									/>
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</span>
							</ng-template>

							<ng-template [ngSwitchCase]="'input-group'">
								<div class="p-inputgroup">
									<span class="p-float-label">
										<input
											pInputText
											class="w-full p-inputtext-sm"
											[id]="control.key"
											[formControlName]="control.key"
											[required]="
												hasValidator(
													control.key,
													control.control,
													Validators.required
												)
											"
										/>
										<label [for]="control.key">
											{{
												(control.control.config
													.asyncLabel | async) ??
													control.control.config.label
											}}
										</label>
									</span>
									@if
									(control.control.config.inputGroupOptions.endButton)
									{
									<wig-button
										[icon]="
											control.control.config
												.inputGroupOptions.endButton
												.icon
										"
										[label]="
											control.control.config
												.inputGroupOptions.endButton
												.label
										"
										[styleClass]="
											control.control.config
												.inputGroupOptions.endButton
												.styleClass
										"
										(click)="
											control.control.config.inputGroupOptions.endButton.click()
										"
									>
									</wig-button>
									}
								</div>
							</ng-template>

							<ng-template [ngSwitchCase]="'number'">
								<span class="p-float-label">
									<p-inputNumber
										class="w-full p-inputtext-sm"
										inputStyleClass="w-full"
										styleClass="w-full"
										[id]="control.key"
										[mode]="
											control.control.config
												?.numberOptions?.currency
												? 'currency'
												: 'decimal'
										"
										[suffix]="
											control.control.config
												?.numberOptions?.suffix ??
											undefined
										"
										[prefix]="
											control.control.config
												?.numberOptions?.prefix ??
											undefined
										"
										[min]="
											control.control.config
												?.numberOptions?.min ??
											undefined
										"
										[max]="
											control.control.config
												?.numberOptions?.max ??
											undefined
										"
										[minFractionDigits]="
											control.control.config
												?.numberOptions
												?.minFractionDigits ?? undefined
										"
										[maxFractionDigits]="
											control.control.config
												?.numberOptions
												?.maxFractionDigits ?? undefined
										"
										[formControlName]="control.key"
										[currency]="
											control.control.config
												?.numberOptions?.currency ??
											undefined
										"
										[locale]="
											control.control.config
												?.numberOptions?.locale ??
											'de-DE'
										"
										[required]="
											hasValidator(
												control.key,
												control.control,
												Validators.required
											)
										"
									>
									</p-inputNumber>
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</span>
							</ng-template>

							<ng-template [ngSwitchCase]="'email'">
								<span class="p-float-label">
									<input
										pInputText
										type="email"
										class="w-full p-inputtext-sm"
										[id]="control.key"
										[formControlName]="control.key"
										[required]="
											hasValidator(
												control.key,
												control.control,
												Validators.required
											)
										"
									/>
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</span>
							</ng-template>

							<ng-template [ngSwitchCase]="'password'">
								<span class="p-float-label">
									<p-password
										styleClass="w-full"
										inputStyleClass="w-full p-inputtext-sm"
										[formControlName]="control.key"
										appendTo="body"
										[feedback]="
											control.control.config
												?.passwordOptions?.showFeedback
										"
										[required]="
											hasValidator(
												control.key,
												control.control,
												Validators.required
											)
										"
									>
										<ng-template pTemplate="header">
											<h6>Password strength</h6>
										</ng-template>
										<ng-template pTemplate="footer">
											<p-divider />
											<p class="mt-2">Suggestions</p>
											<ul
												class="pl-2 ml-2 mt-0"
												style="line-height: 1.5"
											>
												@if
												(control.control.config?.passwordOptions?.mustContainLowercase)
												{
												<li>At least one lowercase</li>
												} @if
												(control.control.config?.passwordOptions?.mustContainUppercase)
												{
												<li>At least one uppercase</li>
												} @if
												(control.control.config?.passwordOptions?.mustContainNumber)
												{
												<li>At least one numeric</li>
												} @if
												(control.control.config?.passwordOptions?.minLength)
												{
												<li>
													Minimum
													{{
														control.control.config
															.passwordOptions
															.minLength
													}}
													characters
												</li>
												}
											</ul>
										</ng-template>
									</p-password>
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</span>
							</ng-template>

							<ng-template [ngSwitchCase]="'select'">
								<span class="p-float-label">
									<p-dropdown
										appendTo="body"
										styleClass="w-full p-inputtext-sm"
										[options]="
											control.control.config.selectOptions
												.options
										"
										[formControlName]="control.key"
										[placeholder]="
											control.control.config.placeholder
										"
										[optionLabel]="
											control.control.config.selectOptions
												?.labelProperty
										"
										[optionValue]="
											control.control.config.selectOptions
												?.valueProperty
										"
										[filter]="
											control.control.config.selectOptions
												?.localFilter
										"
										[filterBy]="
											control.control.config.selectOptions
												?.labelProperty
										"
										inputId="float-label"
									>
									</p-dropdown>
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</span>
							</ng-template>

							<!-- <ng-template [ngSwitchCase]="'wysiwyg'">
									<div class="mb-2">
										<label [for]="control.key">
											{{ (control.control.config.asyncLabel | async) ?? control.control.config.label }}
										</label>
									</div>
									<p-editor
										[formControlName]="control.key"
										[style]="{ minHeight: '200px', height: '100%' }"
										[required]="hasValidator(control.key, control.control, Validators.required)">
									</p-editor>
								</ng-template> -->

							<ng-template [ngSwitchCase]="'selectButton'">
								<div class="mb-2">
									<label [for]="control.key">
										{{
											(control.control.config.asyncLabel
												| async) ??
												control.control.config.label
										}}
									</label>
								</div>
								<p-selectButton
									[options]="
										control.control.config
											.selectButtonOptions.options
									"
									[formControlName]="control.key"
									[optionLabel]="
										control.control.config
											.selectButtonOptions.optionLabel
									"
									[optionValue]="
										control.control.config
											.selectButtonOptions.optionValue
									"
								>
								</p-selectButton>
							</ng-template>

							<ng-template [ngSwitchCase]="'checkbox'">
								<p-checkbox
									[formControlName]="control.key"
									[binary]="true"
									[inputId]="control.key"
									[value]="control.control.value"
								/>
								<label [for]="control.key" class="ml-2">
									{{
										(control.control.config.asyncLabel
											| async) ??
											control.control.config.label
									}}
								</label>
							</ng-template>

							<ng-template [ngSwitchCase]="'file-upload'">
								<label [for]="control.key" class="ml-2">
									{{
										(control.control.config.asyncLabel
											| async) ??
											control.control.config.label
									}}
								</label>
								<wig-file-upload
									[id]="control.key"
									[formControl]="control.control"
									[name]="control.key"
									[multiple]="
										control.control.config.fileUploadOptions
											?.multiple
									"
									[accept]="
										control.control.config.fileUploadOptions
											?.accept
									"
								/>
							</ng-template>

							@if (control.control.invalid &&
							(control.control.dirty || control.control.touched))
							{
							<div class="w-full">
								@for (error of getErrors(control.control); track
								$index; let isFirst = $first) {
								<span [ngClass]="isFirst ? '' : 'mt-2'">
									<div class="ml-1 w-full">
										<small class="p-error">{{
											"GENERIC.FORM.ERRORS." + error.name
												| uppercase
												| translate : error.props
										}}</small>
									</div>
								</span>
								}
							</div>
							} @if (control.control.config.info) {
							<div class="w-full">
								<div class="ml-1 w-full">
									<small class="p-info">{{
										control.control.config.info
									}}</small>
								</div>
							</div>
							}
						</div>
					</div>
					}
				</ng-template>
			</div>
		</ng-template>
	</div>
	<ng-content></ng-content>
	<button #button type="submit" [style]="{ display: 'none' }"></button>
</form>
@if (formGroup.invalid && (formGroup.dirty || formGroup.touched)) {
<div>
	@for (error of getErrors(formGroup); track $index; let isFirst = $first) {
	<span>
		<div class="ml-1 mb-2" [ngClass]="isFirst ? '' : 'mt-2'">
			<small class="p-error">{{
				"GENERIC.FORM.ERRORS." + error.name
					| uppercase
					| translate : error.props
			}}</small>
		</div>
	</span>
	}
</div>
}
